---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mixins
@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-direction($value) {
  @if $value == row-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: horizontal;
    -moz-box-direction: reverse;
    -moz-box-orient: horizontal;
  } @else if $value == column {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
  } @else if $value == column-reverse {
    -webkit-box-direction: reverse;
    -webkit-box-orient: vertical;
    -moz-box-direction: reverse;
    -moz-box-orient: vertical;
  } @else {
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-direction: normal;
    -moz-box-orient: horizontal;
  }
  -webkit-flex-direction: $value;
  -ms-flex-direction: $value;
  flex-direction: $value;
}

@mixin flex($fg) {
  -webkit-box: $fg;
  -moz-box: $fg;
  -webkit-flex: $fg;
  -ms-flex: $fg;
  flex: $fg;
}

@mixin align-items($value) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -moz-box-align: $value;
    -ms-flex-align: $value;
  }
  -webkit-align-items: $value;
  align-items: $value;
}


body {
  overflow-x: hidden;
}

.title-section {
  text-align: center;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  h1 {
    margin-bottom: 0em;
    font-size: 3em;
    color: #222;
    @include media-query($on-palm) {
      font-size: 2.2em;
    }
  }

  h2 {
    font-size: 1.2em;
    color: #A3ABB3;
    @include media-query($on-palm) {
      font-size: 1em;
    }
  }

  .app-store-button {
    height: 52px;
    @include media-query($on-palm) {
      height: 48px;
    }
  }
}

.feature-section {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;

  p {
    color: $grey-color;
  }
}

.section-row {
  @include flexbox;
  @include align-items(center);
  @include media-query($on-laptop) {
    display: block;
  }
}

.section-col {
  @include flex(1);
}

.section-col-image {
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.feature-section:nth-child(odd) {
  background-color: #f0f2f6;

  .section-row {
    @include flex-direction(row-reverse);
  }

  .section-col-image {
    margin-left: -30px;
    text-align: left;
    @include media-query($on-laptop) {
      margin-left: inherit;
      text-align: center;
    }
  }
}

.feature-section:nth-child(even) {
  .section-row {
    @include flex-direction(row);
  }

  .section-col-image {
    margin-right: -30px;
    text-align: right;
    @include media-query($on-laptop) {
      margin-right: inherit;
      text-align: center;
    }
  }
}

.campus-request-section {
  text-align: center;
  padding-top: $spacing-unit / 2;

  img {
    padding-bottom: $spacing-unit / 2;
  }
}

.campus-request-input {
  height: 3em;
  width: 18em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 0.5em;
  border: solid 1px #DEDEDE;
  border-left: solid 3px #5AC8FA;
  outline: none;
  font-size: 1em;
  text-indent: 1em;
}

.campus-request-submit {
  height: 3em;
  width: 8em;
  padding: 0.75rem 1.5rem;
  margin-top: $spacing-unit / 3;
  font-size: 1em;
  background-color: #5AC8FA;
  color: white;
  border: none;
}


.release-note-version {
  margin-bottom: 0px;
}

.release-note-date {
  color: $grey-color;
}
